.tablee{
    background-color: transparent;
    width: 100%;
    height: 60px;
    position: relative;
    left: -6px;
}

img{
    width: 34px;
    height: 34px;
}

button{
    background-color: transparent;
    border:none;
}

.recenttag{
    display: flex;
    width:100%;
    position: relative;
    left: -6px;
}

.container{
    margin-left: -15px;
}

.recenttag button{
    margin-left:80%;
}

#empty{
    display: block;
    margin-top: 14%;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    object-fit: contain;
    height: 100px;
}

#emptytext{
    display: inline;
    color:white;
    margin-left: 38%;
    margin-right: 16%;
}

.tableback{
    background-color: rgba(255,255,255,0.12);
    border: 1px solid rgba(255,255,255,0.16);
    height: 55px;
}

.tableback:hover{
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.16);
}

.tablee td{
    max-width: 60px;
    margin-left: 5px;
    font-size: 16px;
    color: white;
    padding-left: 8px;
}

.des{
    position:relative;
    top:-3px;
    object-fit: contain;
    width: 37px;
    height: 34px;
}

#heartbtn{
    position: relative;
    right: -70px;
}
